body {
	color: black;
	font: normal 0.8em Tahoma, Arial, sans-serif;
	width: 650px;
}



.title, .simpletitle {
	padding: 10px 50px 20px 50px;
	font: bold 1.5em Verdana, Arial, sans-serif;
	text-align: center; 
}

.title {
	border-bottom-style: double;
}

.content {
}


.content p,dl {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
	padding-left: 30px;
}


.content table  {
    border-width: 1px;
    border-collapse: collapse;
	margin-bottom: 10px;
	padding-left: 30px;
}


.content td {
    color: black;
	font: normal 0.8em Tahoma, Arial, sans-serif;
    border: 1px solid black;
	padding: 2px;
}

.content dl dt {
	font-weight: bold;	
}

.content dl dd {
	margin-bottom: 5px;
}

.content dl {
	margin-bottom: 10px;
}

.content tt {
	font: normal 1.0em Courier, Arial, sans-serif;
}

.content pre {
	margin-left:30px;
	padding:5px;
	border-style:solid;
	border-width:1px;
	color:dark-gray;
	background-color:F3F3F3;
}

.credit {
	font-style: italic;
	font-size: 0.8em;
	padding-bottom: 10px;
}

.content pre {
	font-size: 10pt;
}

.content .underhead p {
	font-weight: bold;
	font-size: 1.2em;
	border-bottom: 1px solid black;
	padding-left: 0;
	padding-top: 40px;
}

.content ul, ol {
	margin-top: 0px;
	padding-top: 0px;
}



.content ul li, ol li, dl dt ul li {
	margin-left: 25px;
	padding-left: 5px;
}

.content ul li ul, ol li ol, dl dt ul li {
	margin-left: 10px;
	padding-left: 0px;
}